.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.cal-container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(6, 50px);
  column-gap: 1px;
  row-gap: 1px;
  background: #d1d1d1;
}

.btn-container-one {
  display: grid;
  grid-row-start: 2;
  grid-column: span 4;
  grid-auto-flow: column;
}

.btn-container-two {
  display: grid;
  grid-column: span 4;
  grid-row-start: 3;
  grid-auto-flow: column;
}

.btn-container-three {
  display: grid;
  grid-column: span 4;
  grid-row-start: 4;
  grid-auto-flow: column;
}

.btn-container-four {
  display: grid;
  grid-column: span 4;
  grid-row-start: 5;
  grid-auto-flow: column;
}

.btn-container-five {
  display: grid;
  grid-column: span 4;
  grid-row-start: 6;
  grid-auto-flow: column;
}

.zero {
  grid-column: span 2;
  width: 160px;
}

.output {
  display: grid;
  justify-items: end;
  align-items: end;
  position: relative;
  grid-row-start: 1;
  grid-column: span 4;
  width: 97.5%;
  height: 43px;
  background: #858694;
  font-size: 18pt;
  color: white;
  padding: 4px;
}

.bg-color {
  background: #f5913e;
}

button {
  background: #e0e0e0;
  border: none;
  outline: none;
  font-size: 10pt;
  width: 80px;
  height: 50px;
}
